tr.selected{
    background-color: #b9bcbf !important;
}

img.crud {
    max-width: 100px !important;
    max-height: 100px !important;
    margin: 20px 20px 20px 20px;
}

img.category {
    width: auto !important;
    height: 100px !important;
    margin: 20px 20px 20px 20px;
}

.padded10 {
    padding: 10% 10% 10% 10%;
}

.content-wrapper{
    padding: 20px 20px 20px 20px !important;
}

/**
* TREE VIEW
*/

.tree, .tree ul {
    margin:0;
    padding:0;
    list-style:none;
    font-size:20pt
}
.tree ul {
    margin-left:1em;
    position:relative
}
.tree ul ul {
    margin-left:.5em
}
.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
}
.tree li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    color: black;
    font-weight:700;
    position:relative
}
.tree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}
.tree ul li:last-child:before {
    background: transparent;
    height:auto;
    top:1em;
    bottom:0
}
.indicator {
    margin-right:5px;
}
.tree li a {
    text-decoration: none;
    color:black !important;
}
.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    color:black !important;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}

.confirm {
    display: none;
}

.card-icon {
    margin-right: 10px;
    font-size: 12pt;
}

.cardNumber {
    font-weight: bold;
}

.cardExp {
    font-weight: lighter;
}

#price {
    font-size: 20pt;
}

.brand-link {
    text-align: center;
}

.img-circle {
    width: 30px !important;
    height: 30px !important;
    margin-right: 10px !important;
}


.prodImg{
    max-width: 200px !important;
    height: 200px !important;
    margin: 20px 20px 20px 20px !important;
}

.disabledFile {
    display: none;
}

#imgContainer {
    height: unset !important;
}

/* DELIVERY STATUSES BAR */
.delivered {
    width: 100%;
}

.transit {
    width: 50%;
}

.other_ds {
    width: 50%;
}

.pick_up {
    width: 20%;
}
/* END DS BAR */



/**
    CHARTS HOMEPAGE
*/
.orders_chart {
    min-height: 350px; 
    height: 350px; 
    max-height: 350px; 
    max-width: 100%;
}

.reviews_chart {
    min-height: 400px; 
    height: 400px; 
    max-height: 400px; 
    max-width: 100%;
}

.sup {
    font-size: 20px;
}

.title_sec {
    font-size: 1.25rem !important;
    font-weight: bold !important;
    font-family: "Source Sans Pro" !important;
}

@media (min-width: 1200px) {
    .container {
        max-width: 70vw !important;
    }

}

