tr.selected{
    background-color: #b9bcbf !important;
}

img.crud {
    max-width: 100px !important;
    max-height: 100px !important;
    margin: 20px 20px 20px 20px;
}

img.category {
    width: auto !important;
    height: 100px !important;
    margin: 20px 20px 20px 20px;
}

.padded10 {
    padding: 10% 10% 10% 10%;
}

.content-wrapper{
    padding: 20px 20px 20px 20px !important;
}

/**
* TREE VIEW
*/

.tree, .tree ul {
    margin:0;
    padding:0;
    list-style:none;
    font-size:20pt
}
.tree ul {
    margin-left:1em;
    position:relative
}
.tree ul ul {
    margin-left:.5em
}
.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
}
.tree li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    color: black;
    font-weight:700;
    position:relative
}
.tree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}
.tree ul li:last-child:before {
    background: transparent;
    height:auto;
    top:1em;
    bottom:0
}
.indicator {
    margin-right:5px;
}
.tree li a {
    text-decoration: none;
    color:black !important;
}
.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    color:black !important;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}

.confirm {
    display: none;
}

.card-icon {
    margin-right: 10px;
    font-size: 12pt;
}

.cardNumber {
    font-weight: bold;
}

.cardExp {
    font-weight: lighter;
}

#price {
    font-size: 20pt;
}

.brand-link {
    text-align: center;
}

.img-circle {
    width: 30px !important;
    height: 30px !important;
    margin-right: 10px !important;
}


/** MODALS STYLE **/
.modal-dialog {
    border-radius: 0 !important;
}

.modal-content {
    border: none;
    border-radius: 0 !important;
}

.modal-title {
    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.62);
}

.modal-header {
    background-color: #82ae46;
    color: white;
    border-radius: 0;
}

.modal-footer {
    border-radius: 0;
}

.btn{
    /*background-color: rgba(130,174,70, .07);*/
    border-radius: 0 !important;
}

.btn-success, .modal-dialog .btn-warning{
    color: white;
    background-color: rgba(130,174,70, 1);
    border-color: rgba(130,174,70, 1) !important;
}

.btn-default{
    border: none;
    background-color: transparent !important;
}

.btn-default:hover{
    border: none;
    background-color: inherit;
}

.btn-success:hover{
    background-color: rgba(130,174,70, 1) !important;
    border-color: rgba(130,174,70, 1) !important;
    box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,.4) !important;
}

.btn-success:active{
    background-color: rgba(130,174,70, 1) !important;
    border-color: rgba(130,174,70, 1) !important;
    box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,.4) !important;
}

.modal-body .form-control, .modal-body select {
    border-radius: 0 !important;
}

.modal-body .form-control:focus, .modal-body select:focus {
    border-color: rgba(130,174,70, 1);
}

.select2-container--default .select2-indigo .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-indigo .select2-results__option--highlighted[aria-selected]:hover, .select2-indigo .select2-container--default .select2-results__option--highlighted[aria-selected], .select2-indigo .select2-container--default .select2-results__option--highlighted[aria-selected]:hover , .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: rgba(130,174,70, 1) !important;
    border-color: rgba(130,174,70, 1) !important;
}

.badge-success {
    color: #82ae46 !important;
    background-color: unset !important; 
}

.bg-primary, .bg-success {
    background-color: rgba(130,174,70, 1) !important;
}

.bg-primary-full {
    color: white !important;
    background-color: rgba(130,174,70, 1) !important;
}

.bg-primary-full:hover {
    background-color: transparent !important;
    color: rgba(130,174,70, 1) !important;
    border: 1px solid rgba(130,174,70, 1) !important;
}

.text-warning small {
    color: red;
}


/*
.navbar-white {
    background-color: #82ae46 !important;
    color: white !important;
}

.navbar-white a {
    color: white !important;
}
*/

.reviews-card {
    background-color: #51a3c8;
    color: white;
}

.bg-green {
    background-color: #28a745!important;
}

.logo_sm {
    width: 2em;
    height: 2em;
}

.navbar-white .dropdown-item {
    color: inherit !important;
}

.page-link {
    color: rgb(52, 58, 64) !important;
    background-color: white !important; 
}

.page-item.active .page-link {
    z-index: 1 !important;
    color: #fff !important;
    background-color:#82ae46 !important;
    border-color: #82ae46 !important;
}

.dataTable td {
    vertical-align: middle !important;
}

.dataTable td a {
} 

.dataTable td a:hover {
} 


._show, button .show {
    margin-right: 1em !important;
    background: none !important;
    background-color: #82ae46 !important;
    color: white !important;
    border-radius: 50% !important;
    border: 1px solid #82ae46 !important;
} 

._show:hover, button .show:hover {
    background: none !important;
    background-color: transparent !important;
    color: #82ae46 !important;
    border: 1px solid #82ae46 !important;
    border-radius: 50% !important;
} 

._edit, .edit {
    background: none !important;
    background-color: #82ae46 !important;
    color: white !important;
    border-radius: 50% !important;
    border: 1px solid #82ae46 !important;
} 

._edit:hover, .edit:hover {
    background: none !important;
    background-color: transparent !important;
    color: #82ae46 !important;
    border: 1px solid #82ae46 !important;
    border-radius: 50% !important;
} 

._delete, .delete {
    margin-left: 1em !important;
    background: none !important;
    background-color: red !important;
    color: white !important;
    border-radius: 50% !important;
    border: 1px solid red !important;
} 

._delete:hover, .delete:hover {
    background: none !important;
    border: 1px solid red !important;
    background-color: transparent !important;
    color: red !important;
    border-radius: 50% !important;
    border: 1px solid red !important;
} 


.editlinktree, .editlinktree:hover, .img_del, .img_del:hover {
    border: none !important;
    background-color: transparent !important;
}

.img_del {
    color: red !important;
}


a {
    color: #82ae46;
}

a:hover {
    color: rgb(52, 70, 28);
}

/** END MODALS STYLE **/


.prodImg{
    max-width: 200px !important;
    height: 200px !important;
    margin: 20px 20px 20px 20px !important;
}

.disabledFile {
    display: none;
}

#imgContainer {
    height: unset !important;
}

/* DELIVERY STATUSES BAR */
.delivered {
    width: 100%;
}

.transit {
    width: 50%;
}

.other_ds {
    width: 50%;
}

.pick_up {
    width: 20%;
}
/* END DS BAR */

.modal-dialog {
    max-width: 1140px !important;
}

.ekko-lightbox-container {
    text-align: center;
}

.ekko-lightbox-container img {
    width: auto !important;
    height: auto !important;
    max-width: 100%;
    max-height: 100%;
}

/**
    CHARTS HOMEPAGE
*/
.orders_chart {
    min-height: 350px; 
    height: 350px; 
    max-height: 350px; 
    max-width: 100%;
}

.reviews_chart {
    min-height: 400px; 
    height: 400px; 
    max-height: 400px; 
    max-width: 100%;
}

.sup {
    font-size: 20px;
}

.title_sec {
    font-size: 1.25rem !important;
    font-weight: bold !important;
    font-family: "Source Sans Pro" !important;
}

.tox-notifications-container {
    display:none!important;
}

@media (min-width: 1200px) {
    .container {
        max-width: 70vw !important;
    }

}

