.pad {
    padding-top: 5%;
    padding-bottom: 5%;
}

.page-link {
    padding: unset;
}

.pag{
    border: unset !important;
}

.carrier_img {
    width: auto !important;
    max-height: 200px !important;
    margin: 20px 20px 20px 20px;
}

.carrier_img_container {
    display: block !important;
    text-align: center;
    text-align: -webkit-center;
}

/* PRICING */
span.price-dc {
    text-decoration: line-through;
    color: #b3b3b3 !important;
}

.effects {
    background-image: url(/images/static/effects.jpg);
}

.console {
    background-image: url(/images/static/console.webp);
}

.instruments {
    background-image: url(/images/static/Instruments.jpg);
}

.systems {
    background-image: url(/images/static/Systems.jpg);
}

.accessories {
    background-image: url(/images/static/Accessories.jpg);
}

.start {
    max-width: 100%;
}

    
.black {
    color: black !important;
} 

.back3 {
    background-image: url('/images/bg_1.jpg');
}

.billing-form .form-control {
    color: black !important;
}

.right {
    position: absolute;
    right: 1rem;
}

.input-quant {
    height: 40px !important;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    color: #82ae46;
    padding: 10px 20px;
    background: transparent !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    font-size: 14px;
}

.table tbody tr td.quantity a {
    bordeR: 1px solid rgba(0, 0, 0, 0.1);
    padding: 4px 10px;
    color: #000000; 
}

.table tbody tr td.quantity a:hover {
    border: 1px solid #82ae46;
    background: #82ae46; 
}

.table tbody tr td.quantity a:hover span {
    color: #fff; 
}

/* HIDE RADIO */
.radio_p { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    transition: 1s;
  }
  
  /* IMAGE STYLES */
  .radio_p + img {
    cursor: pointer;
  }
  
  /* CHECKED STYLES */
  .radio_p:checked + img {
    /*
    -webkit-box-shadow: 0px 1px 4px 3px #82AE46; 
    box-shadow: 0px 1px 4px 3px #82AE46;
    */
    -webkit-box-shadow: 0px 1px 4px 2px #515151; 
    box-shadow: 0px 1px 4px 2px #515151;
    
    transition: 1s;
  }

  .radio_p:disabled + img {
    /*
    -webkit-box-shadow: 0px 1px 4px 3px #82AE46; 
    box-shadow: 0px 1px 4px 3px #82AE46;
    */
    opacity: 0.6;
  }

  input.text-center {
    text-align: center; 
  }

  .du {
    display: unset;
  }

  .alert-coupon {
    color: white;
    background-color: #82ae46;
    border-color: #b2d681;
  }

  .data h3 {
    font-size: 16px;
    }
    
   div.hide {
       display:none;
   }

   /** ADMIN LTE COMMENTS STYLE */
   
    .profile-user-img {
    border: 3px solid #adb5bd;
    margin: 0 auto;
    padding: 3px;
    width: 100px;
  }
  
  .profile-username {
    font-size: 21px;
    margin-top: 5px;
  }
  
  .post {
    border-bottom: 1px solid #adb5bd;
    color: #666;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  
  .post:last-of-type {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  
  .post .user-block {
    margin-bottom: 15px;
    width: 100%;
  }
  
  .post .row {
    width: 100%;
  }
  
  .product-image {
    max-width: 100%;
    height: auto;
    width: 100%;
  }
  
.user-block {
    float: left;
  }
  
  .user-block img {
    float: left;
    height: 40px;
    width: 40px;
  }
  
.img-circle {
    border-radius: 50%;
  }

  
.img-bordered {
    border: 3px solid #adb5bd;
    padding: 3px;
  }
  
  .img-bordered-sm {
    border: 2px solid #adb5bd;
    padding: 2px;
  }

  
.user-block .username,
.user-block .description,
.user-block .comment {
  display: block;
  margin-left: 50px;
}

.user-block .username {
  font-size: 16px;
  font-weight: 600;
  margin-top: -1px;
}

.user-block .username, .user-block .description, .user-block .comment {
    display: block;
    margin-left: 50px;
}
.user-block .description {
    color: #6c757d;
    font-size: 13px;
    margin-top: -3px;
}

/** SEARCH FORM ADMIN LTE STYLE */
input.search_input {
    height: calc(1.8125rem + 2px) !important;
    background-color: #f2f4f6 !important;
    border: 0 !important;
    width: auto !important;
}

/** CAROUSEL PRODUCT DETAILS */
.carousel-control-next-icon {
    background-image: url("/images/static/left.png");
    transform: rotate(180deg);
}

.carousel-control-prev-icon {
    background-image: url("/images/static/left.png");
}

.bg-color-5 {
    background-color: #b10e03;
}

span.page {
    border: unset !important;
}

label.input_label {
    font-weight: 300;
    padding-right: 40px;
    padding-left: 15px;
    font-size: 14px;
    border-radius: 0px;
    height: 54px !important;
    text-align: center;
    bordeR: 1px solid rgba(0, 0, 0, 0.1) !important;
    padding: 0;
    display: block;
    width: 100%;
    line-height: 3.5em;
}

.billing-form .form-control {
    bordeR: 1px solid rgba(0, 0, 0, 0.1) !important;
}
