.pad {
    padding-top: 5%;
    padding-bottom: 5%;
}

.page-link {
    padding: unset;
}

.pag{
    border: unset !important;
}

.carrier_img {
    width: auto !important;
    max-height: 200px !important;
    margin: 20px 20px 20px 20px;
}

.carrier_img_container {
    display: block !important;
    text-align: center;
    text-align: -webkit-center;
}

/* PRICING */
span.price-dc {
    text-decoration: line-through;
    color: #b3b3b3 !important;
}

.effects {
    background-image: url(/images/static/effects.jpg);
}

.console {
    background-image: url(/images/static/console.webp);
}

.instruments {
    background-image: url(/images/static/Instruments.jpg);
}

.systems {
    background-image: url(/images/static/Systems.jpg);
}

.start {
    max-width: 100%;
}

    
.black {
    color: black !important;
} 