.pad {
    padding-top: 5%;
    padding-bottom: 5%;
}

.page-link {
    padding: unset;
}

.pag{
    border: unset !important;
}

.carrier_img {
    width: auto !important;
    max-height: 200px !important;
    margin: 20px 20px 20px 20px;
}

.carrier_img_container {
    display: block !important;
    text-align: center;
    text-align: -webkit-center;
}